#allstats-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin-top: 10px;
}
#table-wrapper {
    overflow-x: auto;
    width: 80vw;
}
table {
    overflow-x: auto;
    
}
#table-header {
    display: block;
    overflow-x: auto;
}
#table-header th {
    border: 1px black solid;
}
.school-header {
    min-width: 5vw;
}
.table-headers {
    min-width: 3vw;
}
tbody {
    display: block;
    overflow:auto;
    height:200px;
    width:100%;
    font-size: 10px;
}
.school-cell {
    min-width: 5vw;
}
.cells {
    min-width: 3vw;
}