
header {
  background: #98C1D9;
  position: absolute;
  top: 0px;
  height: 12vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  margin-left: 10px;
  font-size: 7vh;
}

#model-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 35vw;
  height: 100%;
}
.model-link {
  color: black;
}

#profile-link:hover {
  background-color: black;
  padding:3px;
}

/*
  orange: #EE6C4D
  blackish: #293241
  dark blue: #3D5A80
  light blue: #98C1D9
  lightest blue: #E0FBFC
*/