#instructions {
    width: 30vw;
    margin: 0px auto;
}
#instructions h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 25vh;
}
#instructions ul {
    display: flex;
    flex-direction: column;
    text-align: left;
}

