#navbar {
    margin-top: 12vh;
    background-color: orange;
    height: 6vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}
#navbar Link {
    color: white;
}