#container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 90vw;
    margin: 0px auto;
    margin-top: 25vh;
    overflow-x: auto;
}
#input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
    margin: 0px auto;
    margin-top: 25vh;
}
h1 {
    font-size: 40px;
    text-align: center;
}
#header, #away-body, #home-body {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 0px;
    font-size: 30px;
}
#header {
    border-bottom: 2px solid #3D5A80;
    width: 100%;
}

.input {
    width: 100%;
    text-align: center;
    font-size: 30px;
}
input {
    background-color: #98C1D9;
    color: black;
    padding: 5px;
    text-align: center;
}
.header, .data {
    text-align: center;
    font-size: 20px;
}
.game {
    min-width: 15%;
    font-size: 20px;
}
.teams {
    min-width: 15%;
}
.score {
    min-width: 150px;
    width: 12%
}
.model {
    min-width: 7%;
}
.pred-score {
    min-width: 200px;
}
.score-header {
    margin-left: 20px;
}
.pred-score-header {
    margin-left: 12px;
}