#stat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20vh;
}
#buttons {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    margin: 0 auto;
}
#buttons button {
    font-size: 25px;
    border: black 2px solid;
    border-radius: 5px;
    padding: 5px;
}
#buttons button:hover {
    color: #98C1D9;
    border: 1px solid #98C1D9;
}
#active {
    background-color: #3D5A80;
    color: white;
    border: #293241 2px solid;
    border-radius: 5px;
}
#stat-container div h2 {
    text-align: center;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
}
form h4 {
    font-size: 25px;
}
#search {
    height: 20px;
    margin-left: 15px;
}
#stats-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.show-avg {
    margin: 0px 45vw;
    width: 10vw;
}
h3 {
    text-align: center
}
#averages {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow-x: auto;
    max-height: 90px;
    margin: 0px 10vw;
    border: 5px solid #3D5A80;
}
.average {
    padding: 0px 8px;
    border: 2px #98C1D9 solid;
    min-width: 6vw;
}
.average h4 {
    border-bottom: 1px #293241 solid;
}
.average h4, .average p {
    font-size: 15px;
    text-align: center;
}
#table-wrapper {
    overflow-x: auto;
    width: 90vw;
    border: 10px solid #293241;
}
table {
    overflow-x: auto;
    margin-right: 10px;
}
#table-header {
    display: block;
    overflow-x: auto;
    padding-bottom: 2px;
    border-bottom: 3px solid black;
}
#table-header th {
    border: 1px black solid;
}
.school-header {
    min-width: 11vw;
}
.table-headers {
    min-width: 6vw;
    font-size: 18px;
}
tbody {
    display: block;
    overflow:auto;
    height:50vh;
    width:100%;
    font-size: 15px;
}
tr td {
    border: 1px black solid;
    text-align: center;
}
.school-cell {
    min-width: 11vw;
}
.cells {
    min-width: 6vw;
}