
#stat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#buttons {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 20px;
}
#buttons button {
    font-size: 30px;
    border: black 2px solid;
    border-radius: 5px;
    padding: 5px;
}
#active {
    background-color: blue;
    color: white;
    border: black 2px solid;
    border-radius: 5px;
}
#stat-container div h2 {
    text-align: center;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
}
form h4 {
    font-size: 25px;
}
#search {
    height: 20px;
    margin-left: 15px;
}
#stats-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3vh;
}
.show-avg {
    margin: 0px 45vw;
    width: 10vw;
}
h3 {
    text-align: center
}
#averages {
    display: flex;
    justify-content: left;
    overflow-x: auto;
    margin: 0px 10vw;
    border: 5px solid blue;
}
.average {
    padding: 0px 8px;
    border: 2px black solid;
    min-width: 6vw;
}
.average h4 {
    border-bottom: 1px black solid;
}
.average h4, .average p {
    font-size: 12px;
    text-align: center;
}
#table-wrapper {
    overflow-x: auto;
    width: 80vw;
    border: 10px solid black;
}
table {
    overflow-x: auto;
    margin-right: 10px;
}
#table-header {
    display: block;
    overflow-x: auto;
}
#table-header th {
    border: 1px black solid;
}
.school-header {
    min-width: 9vw;
}
.table-headers {
    min-width: 6vw;
}
tbody {
    display: block;
    overflow:auto;
    height:50vh;
    width:100%;
    font-size: 10px;
}
tr td {
    border: 1px black solid;
    text-align: center;
}
.school-cell {
    min-width: 9vw;
}
.cells {
    min-width: 6vw;
}